*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.contact-container{
    max-width: 1300px;
    margin: 3em auto;
    padding: 0 2em;
}
.contact-container h1{
    text-align: center;
}
.contact-section{
    display: grid;
    grid-template-columns: minmax(360px,1fr) 2.5fr;
    gap: 2em;
    flex-wrap: wrap;
}
.contact-flex-wrap{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
}
.contact-flex-wrap .contact-info{
    width: 360px;
    padding: 2em;
    border: 2px solid #1b1c63;
    border-radius: 12px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.contact-info h2{
    color:#01013e;
    margin-bottom: 0.5em;
}
.contact-info p{
    line-height: 1.5;
    font-size: 1.1rem;
}
.location-info{
    background: linear-gradient(rgba(230,230,230,0.75),rgba(240,240,240,0.75)),url('../img/location.png');
}
.email-info{
    background: linear-gradient(rgba(230,230,230,0.75),rgba(240,240,240,0.75)),url('../img/email.jpg');
}
.call-info{
    background: linear-gradient(rgba(230,230,230,0.75),rgba(240,240,240,0.75)),url('../img/call.jpg');
}
.contact-form{
    padding: 2em;
}
.contact-form .form-grp{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin:1.25em 0;
    width: 100%;
}
.form-enclose{
    display: flex;
    flex-direction: row;
    gap: 1.75em;
    width: 100%;
}
.form-grp label{
    font-size: 1.1em;
}
.form-grp input,.form-grp textarea{
    padding: 8px;
    font-size: 1.1em;
    border: 2px solid #01013e;
    outline: none;
    border-radius: 4px;
}
.form-grp button{
    width: 100%;
    display: block;
    background-color: #01013e;
    color: white;
    border-radius: 8px;
    padding: 12px;
    font-size: 1.2em;
}
.map-container{
    text-align: center;
}

@media screen and (max-width:1200px){
    .contact-section{
        grid-template-columns: 1fr;
        padding-top: 2em;
    }
    .contact-flex-wrap{
        flex-direction: row;
        justify-content: center;
    }
    .contact-flex-wrap .contact-info{
        width: 320px;
    }
    .contact-form{
        padding: 2em 0.25em;
    }
}
@media screen and (max-width:1060px) {
    .contact-flex-wrap{
        flex-wrap: wrap;
    }
}
@media screen and (max-width:800px) {
    .contact-flex-wrap .contact-info{
        width:98%;
    }
    .form-enclose{
        gap: 0em;
        flex-wrap: wrap;
    }
    .contact-container{
        padding: 0 0.5em;
    }
}