@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Cormorant+Garamond:wght@700&family=Philosopher:ital,wght@1,700&family=Poppins:wght@100;200;300;400;500;600&family=Roboto&family=Rowdies:wght@700&display=swap');
:root {
  --darkBlue:  #01023b;
  --blue: #242FA2;
  --pink: #F64C72;
  --gray: #99738E;
  --aquaBlue: #66FCF1;
  --greenBlue: #35A29F;
  --headBlue: #02046e;
}

*{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

/* html {
  font-size: 62.5%;
} */

header {
  /* position: fixed; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--headBlue);
  height: 12vh;
  /* transition: all 0.3s linear; */
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}
/* 
header div.sticky {
  background-color: var(--darkBlue);
  height: 7vh;
  z-index: 99;
} */
header div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bolder;
  letter-spacing: 5px;
  margin-left: 0.5rem;
}

header img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

header div span {
  margin-left: 15px;
  font-family: 'Rowdies';

}
header ul {
  display: flex;
  transition: all 0.3s linear;
}

header ul li {
  margin-right: 2rem;
}


header ul li a {
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--headBlue);

}

header ul li::after {
  content: '';
  display: block;
  background-color: var(--headBlue);
  height: 2px;
  transform: scaleX(0);
  transition: all 300ms;
}

header ul li:hover::after {
  transform: scaleX(1);
}


#ham {
  display: none;
  font-size: 2rem;
  margin-right: 2rem;
  cursor: pointer;
}

#close {
  display: none;
  margin-right: 2rem;
  font-size: 2rem;
  cursor: pointer;
}

@media screen and (max-width:1250px) {
  #ham {
    display: block;
    cursor: pointer;
  }

  header {
    flex-direction: column;
    height: 100vh; 
    box-shadow: 0 0 0;
  }

  header div {
    margin-left: 1.1rem;
    margin-right: 2rem;
    overflow: hidden;
  }

  .logo {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  }

  #nav.move {
    left: 0vw;
  }

  header .logo {
    width: 100vw;
    justify-content: space-between;
  }

  #ham {
    margin-right: 0.75rem;
  }

  header ul {
    flex-direction: column;
    background-color: var(--darkBlue);
    height: 95vh;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    position: relative;
    left: -100vw;
    z-index: 2;
  }

  header ul li a {
    font-size: 1.1rem;
    color: #fff;
  }
  header ul li::after {
    background-color: #fff;
  }

  .logo {
    padding: 0.5rem;
  }

  #close {
    display: none;
    cursor: pointer;
  }

  header ul li {
    margin-right: 0;
    text-align: center;
  }
  
}

.footer{
  background-color: var(--darkBlue);
  color: white;
  width: 100%;
  margin-top: auto;
}
.footer-container{
  display: flex;
  flex-direction: column;
}
.footer-links{
  padding: 1.75rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  text-align: left;
  flex-wrap: wrap;
  width: 100%;
  border-bottom: 1px solid white;
}
.footer-links h4{
  font-size: 1.25em;
  margin: 1rem 0;
}
.footer-links p {
  letter-spacing: 1px;
  line-height: 25px;
}
.footer-links a{
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  margin: 1rem 0
}
.copyrights{
  margin: 1em auto;
}
.footer-links-div{
  width:230px;
  margin-right: auto;
  margin-left: 1em;
}