.knowmore-container {
  margin-top: 18vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--darkBlue);
  padding: 20px;
  margin-bottom: 18vh;
  margin-left: 2rem;
  margin-right: 2rem;
  gap: 20px;
  background-color: lightblue;
}

.knowmore-img {
  flex: 50%;
}

.knowmore-img img {
  width: 100%;
  height: auto;
}

.knowmore-content {
  flex: 70%;
}

.knowmore-container h4 {
  font-size: 1.4rem;
  color: var(--darkBlue);
  padding: 15px 5px;
}

.knowmore-container p {
  color: var(--darkBlue);
  padding: 5px;
  line-height: 2.5;
  letter-spacing: 1px;
  font-size: 1.1em;
}

@media screen and (max-width:1180px) {
  .knowmore-container p{
    font-size: 1em;
    line-height: 30px;
  }
}
@media screen and (max-width: 960px) {
  .knowmore-container {
    flex-direction: column;
  }
  
  .knowmore-content {
    text-align: center;
  }
}
